PartnerApiSoapExample/Service References/PartnerApiService/PartnerApiService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://partner-api-soap-proxy.azurewebsites.net/PartnerApiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGrant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grant" nillable="true" type="tns:Grant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrant" nillable="true" type="tns:ArrayOfGrant" />
  <xs:complexType name="Grant">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementGrantToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PartnerProvidedParameters" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grant" nillable="true" type="tns:Grant" />
  <xs:complexType name="ArrayOfApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Application" nillable="true" type="tns:Application" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplication" nillable="true" type="tns:ArrayOfApplication" />
  <xs:complexType name="Application">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeveloperAgreement" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Application" nillable="true" type="tns:Application" />
</xs:schema>